<div class="jumbotron">
    <div class="container">
        <h1>Checklist Manager</h1>
        <p>The easiest way to manage your business checklists</p>
    </div>
</div>

<ul class="list-unstyled">
    <li><a href="#/checklist-templates/select">Complete checklist</a></li>
    <li><a href="#/checklists/assign">Assign a checklist to a user</a></li>
    <li><a href="#/checklists/history">View checklist history</a></li>
    <li><a href="#/checklists-templates/new">Create a checklist</a></li>
    <li><a href="#/users/">Manage Users</a></li>
</ul>

