<div class="">

    <header id="pageHeader">
        <h1>Checklist Manager</h1>
        <h4>Easiest way to manage your business checklists</h4>
    </header>

    <div class="">
        <div><a href="#/checklists/complete">Complete checklist</a></div>
        <div><a href="#/checklists/assign">Assign a checklist to a user</a></div>
        <div><a href="#/checklists/history">View checklist history</a></div>
        <div><a href="#/checklists-templates/new">Create a checklist</a></div>
        <div><a href="#/users/">Manage Users</a></div>
    </div>
</div>


