@charset 'UTF-8';

body { padding-top: 70px; }

#pageHeader {
        background: #000651;
    color: whitesmoke;
    padding: 30px 40px 30px 100px;
    border-bottom: 2px solid #ddd;
    -webkit-text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);


    -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
    box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}

    #pageHeader h4 {
        color: #999;
    }

    #pageHeader:after {
        background: url(../Images/bs-docs-masthead-pattern.png) repeat center center;
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }


[data-ng-cloak] {
    display: none;
}

.inactive {
    border: none;
    background-color: #fff;
}

td a i.glyphicon {
    width: 20px;
}

.icon-plus-sign {
    color: green;
}

.icon-remove {
    color: red;
}

.animate-enter {
    -webkit-transition: 1s linear all; /* Chrome */
    -moz-transition: 1s linear all;
    -o-transition: 1s linear all;
    transition: 1s linear all;
    opacity: 0;
}

    .animate-enter.animate-enter-active {
        opacity: 1;
    }

#maxColumn {
    width: 90%;
}

#optionColumn {
    min-width: 40px;
    max-width: 60px;
}

.allChecked {
    background-color: green;
}