<form name="form" class="form-horizontal">
<div class="control-group" ng-class="{error: form.Title.$invalid}">
    <label class="control-label" for="Title">Title</label>
    <div class="controls">
        <input inlineEdit type="text" ng-model="item.Title" id="Title" class="inactive" />
    </div>
</div>
<div class="control-group" ng-class="{error: form.UserId.$invalid}">
        <label class="control-label" for="UserId">UserId</label>
    <div class="controls">
        <input inlineEdit type="text" ng-model="item.UserId" id="UserId" class="inactive" />
    </div>
</div>
<div class="form-actions">
    <button class="btn btn-primary" ng-click="save()">
        Submit
    </button>
    <a href="#/" class="btn">Cancel</a>
</div>
</form>